<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<!-- Copyright © 2005-2010 Srishti Software Applications Pvt Ltd.
This product includes software developed by Srishti Software Applications Pvt ltd.
All rights reserved -->

<div class = 'noprint'>
<div  align='center'><b><%= "Search Wevers"%></b></div>
<fieldset>
<legend><b><%= "Search By"%></b></legend>
<table width = '100%' style=" font-style: italic; font-family: Times New Roman;">
	<% form_tag :action => 'view_weaver' do %>
	<tr>
		<td width = '10%'><%= Translate.trans("Employee Id",session[:language])%>:</td><td width = '35%'><%=text_field :weaver,:id%></td>
	    <td width = '10%'><%= Translate.trans("Name",session[:language])%>:</td><td width = '35%'><%=text_field :weaver, :name%></td>
	</tr>
	<tr>
		 
	     <td><%= Translate.trans("Phone No",session[:language])%>:</td><td><%=text_field :weaver,:ph_no%></td>
	     <td><%= Translate.trans("Address",session[:language])%>:</td><td><%=text_field :weaver,:address%></td>
    </tr>
</table>
</fieldset>
</div>
<br />
<center><%= submit_tag "Search", :class=>"buttons" %></center>
<%end%>
		 <span id="image" style="display: none;" valign="top" align="right"><img src="/images/ajax-loader2.gif" alt="ajax_loader.gif"/></span>
				
     