<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<div style=" font-style: italic; font-family: Times New Roman; font-size: 20px;font-weight: bold;" align = 'center'><%= Translate.trans("Total Transactions Of Worker",session[:language])%></div>
<div style=" font-style: italic; font-family: Times New Roman; font-size: 15px;font-weight: bold;" align = 'center'><%= Translate.trans("As On Date",session[:language])%>:<%= Time.now.strftime("%d/%m/%y")%></div>
<table width = '100%' align = 'center' style=" font-style: italic; font-family: Times New Roman;">
	<%worker = Worker.find_by_id(@worker)%>
	<%title = Title.find_by_id(worker.title_id)%>
	<tr><td colspan = '6'><hr></td></tr>
  <tr>
    <td align = 'left' width = '10%'><b><%= Translate.trans("Name",session[:language])%></b></td><td align = 'left' width = '20%'>:<%= title.name%><%= worker.first_name%>&nbsp;<%= worker.last_name%></td>
    <td align = 'left' width = '10%'><b><%= Translate.trans("Age",session[:language])%></b></td><td align = 'left' width = '20%'>:<%= worker.age%></td>
    <td align = 'left' width = '10%'><b><%= Translate.trans("Address",session[:language])%></b></td><td align = 'left' width = '30%'>:<%= worker.address1%>&nbsp;<%= worker.address2%></td>
 </tr>
 <tr>
    <td align = 'left' width = '10%'><b><%= Translate.trans("Referred By",session[:language])%></b><td align = 'left' width = '20%'>:<%= worker.referred_by%></td>
    <td align = 'left' width = '10%'><b><%= Translate.trans("Phone No",session[:language])%>.</b><td align = 'left' width = '20%'>:<%= worker.phone_no%></td>
    <td align = 'left' width = '10%'><b><%= Translate.trans("DOJ",session[:language])%></b><td align = 'left' width = '30%'>:<%= worker.created_at.strftime("%d/%m/%y")%></td>
  </tr>
<tr><td colspan = '6'><hr></td></tr>
</table>
<table width = '100%' align = 'center' border = '1' style=" font-style: italic; font-family: Times New Roman;">
	<th align = 'left'><%= Translate.trans("Slno",session[:language])%>.</th>
    <th align = 'left'><%= Translate.trans("Bill No",session[:language])%>.</th>
    <th align = 'left'><%= Translate.trans("Date",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Salary Amount(₹)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Advance Amount(₹)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Advance Reduction(₹)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Raw Warp To Dyer(gm)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Raw Silk To Dyer(gm)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Coloured Warp From Dyer(gm)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Coloured Silk From Dyer(gm)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Remarks",session[:language])%></th>
  </tr>
  	<%sal = 0%><%adv = 0%><%red = 0%><%wap = 0%><%slk = 0%><%cl_wap = 0%><%cl_slk = 0%><%sl=0%>
	<%for dye in @dyes%>
<tr>
	<td><%=sl += 1 %></td>
	<td><%=h dye.id %></td>
    <td><%=h dye.date.strftime("%d/%m/%y")%></td>
    <td align = 'right'><%=h number_with_precision(dye.salary.to_f.round.abs,:precision => 2)%></td>
    <%sal += dye.salary.to_f%>
    <td align = 'right'><%=h  number_with_precision(dye.advance_amount.to_f.round.abs,:precision => 2)%></td>
    <%adv += dye.advance_amount.to_f %>
    <td align = 'right'><%=h  number_with_precision(dye.advance_reduction.to_f.round.abs,:precision => 2)%></td>
    <%red += dye.advance_reduction.to_f %>
    <td align = 'right'><%=h  number_with_precision(dye.raw_warp_to_dyer.to_f.round.abs,:precision => 2)%></td>
    <%wap += dye.raw_warp_to_dyer.to_f %>
    <td align = 'right'><%=h  number_with_precision(dye.raw_silk_to_dyer.to_f.round.abs,:precision => 2)%></td>
    <%slk += dye.raw_silk_to_dyer.to_f %>
    <td align = 'right'><%=h  number_with_precision(dye.coloured_warp_from_dyer.to_f.round.abs,:precision => 2)%></td>
    <%cl_wap += dye.coloured_warp_from_dyer.to_f %>
    <td align = 'right'><%=h  number_with_precision(dye.coloured_silk_from_dyer.to_f.round.abs,:precision => 2)%></td>
    <%cl_slk += dye.coloured_silk_from_dyer.to_f %>
    <td align = 'right'><%=h  dye.remarks%></td>

</tr>
<%end%>
<tr>
	<td><b><%="Total:" %></b></td>
	<td></td>
	<td></td>
	<td align = 'right'><b><%=h number_with_precision(sal.to_f.round.abs,:precision => 2)%></b></td>
	<td align = 'right'><b><%=h number_with_precision(adv.to_f.round.abs,:precision => 2)%></b></td>
	<td align = 'right'><b><%=h number_with_precision(red.to_f.round.abs,:precision => 2)%></b></td>
	<td align = 'right'><b><%=h number_with_precision(wap.to_f.round.abs,:precision => 2) %></b></td>
	<td align = 'right'><b><%=h number_with_precision(slk.to_f.round.abs,:precision => 2)%></b></td>
	<td align = 'right'><b><%=h number_with_precision(cl_wap.to_f.round.abs,:precision => 2) %></b></td>
	<td align = 'right'><b><%=h number_with_precision(cl_slk.to_f.round.abs,:precision => 2) %></b></td>
	<td align = 'right'></td>
</tr>

</table>
<%= submit_tag "Print", :class=>"buttons",:onclick=>"window.print();" %>