<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<h1>Listing Jari Billings</h1>
<table class="wide-table" id="gradient-style" >
  <tr>
  	<th align = 'left'><%= Translate.trans("Vendor Name",session[:language])%></th>
  	<th align = 'left'><%= Translate.trans("Date",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Received Qty",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Jari Type",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Rate (₹)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Discount (₹)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Advance Amount (₹)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Amount To Vendor (₹)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Description",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Batch No",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Remarks",session[:language])%></th>
	<th align = 'center' colspan = '3'><%= Translate.trans("Options",session[:language])%></th>
  </tr>
<% for jari_billing in @jari_billings %>
  <tr>
  	<% vendor =  Vendor.find_by_id(jari_billing.vendor_id) %>
  	<td><%= h vendor.name%></td>
    <td><%=h jari_billing.date.strftime("%d/%m/%y") %></td>
    <td><%=h jari_billing.received_qty %></td>
    <td><%=h jari_billing.jari_type %></td>
    <td><%=h jari_billing.rate %></td>
    <td><%=h jari_billing.discount %></td>
    <td><%=h jari_billing.advance_amount %></td>
    <td><%=h jari_billing.amount_to_vendor %></td>
    <td><%=h jari_billing.description %></td>
    <td><%=h jari_billing.batch_no %></td>
    <td><%=h jari_billing.remarks %></td>
    <td><%= link_to image_tag( 'show.png'), jari_billing %></td>
    <td><%= link_to image_tag( 'edit.png'), edit_jari_billing_path(jari_billing) %></td>
    <td><%= link_to image_tag( 'delete.png'), jari_billing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag( 'new.png'), new_jari_billing_path %>












