<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<h1>New jute_billing</h1>

<% form_for(@jute_billing) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= Translate.trans("Vendor Name",session[:language])%>
    <%= f.collection_select(:vendor_id,@vendors,:id,:name,:prompt =>0) %>
  </p>
  <p>
    <%= Translate.trans("Date",session[:language])%><br />
    <%= f.date_select :date, :order => [:day, :month, :year]  %>
  </p>
  <p>
    <%= Translate.trans("Description",session[:language])%><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= Translate.trans("Received Qty",session[:language])%><br />
    <%= f.text_field :received_qty %>
  </p>
  <p>
    <%= Translate.trans("Rate(₹)",session[:language])%><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= Translate.trans("Discount(₹)",session[:language])%><br />
    <%= f.text_field :discount %>
  </p>
  <p>
    <%= Translate.trans("Advance Amount(₹)",session[:language])%><br />
    <%= f.text_field :adv_amt %>
  </p>
  <p>
    <%= Translate.trans("Amount To Vendor(₹)",session[:language])%><br />
    <%= f.text_field :amt_to_vendor %>
  </p>
  <p>
    <%= Translate.trans("Return Qty",session[:language])%><br />
    <%= f.text_field :return_qty %>
  </p>
  <p>
    <%= Translate.trans("Remarks",session[:language])%><br />
    <%= f.text_field :remarks %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', jute_billings_path %>
