<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<h1>New vendor</h1>

<% form_for(@vendor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= Translate.trans("Supplier Type",session[:language])%><br />
    <%= f.collection_select(:vendor_type_id,@vendor_types,:id,:name) %>
  </p>
  <p>
    <%= Translate.trans("Company Name",session[:language])%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= Translate.trans("Status",session[:language])%>
	<%= f.select :status, [['Active', 'Active'], ['InActive', 'InActive']]%>

  </p>
  <p>
    <%= Translate.trans("Address",session[:language])%><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= Translate.trans("Phone No",session[:language])%><br />
    <%= f.text_field :phone_no %>
  </p>
  <p>
    <%= Translate.trans("Person Name",session[:language])%><br />
    <%= f.text_field :person_name %>
  </p>
  <p>
    <%= Translate.trans("Email-Id",session[:language])%><br />
    <%= f.text_field :email_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', vendors_path %>
