<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<table width = '50%' style=" font-style: italic; font-family: Times New Roman;" border="1" 	class="curvedEdges">
<tr>
	<td>
  <b><%= Translate.trans("Name",session[:language])%>:</b>
  <%=h @title.name %>		
	</td>
</tr>
<tr>
	<td>
  <b><%= Translate.trans("Status",session[:language])%>:</b>
  <%=h @title.status %>		
	</td>
</tr>
</table>
<%= link_to image_tag( 'edit.jpg'), edit_title_path(@title) %>
<%= link_to image_tag( 'white_back.jpg'), titles_path %>
