<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<table width = '100%' style=" font-style: italic; font-family: Times New Roman;">

<h1>Editing loom</h1>

<% form_for(@loom) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= Translate.trans("Worker Name",session[:language])%>
    <%= f.collection_select(:worker_id,@workers,:id,:first_name) %>
  </p>
  <p>
    <%= Translate.trans("Entry Date",session[:language])%><br />
    <%= f.date_select :entry_date, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= Translate.trans("Salary Amount(₹)",session[:language])%><br />
    <%= f.text_field :salary_amount %>
  </p>
  <p>
    <%= Translate.trans("Advance Amount(₹)",session[:language])%><br />
    <%= f.text_field :advance_amount %>
  </p>
  <p>
    <%= Translate.trans("Advance Reduction(₹)",session[:language])%><br />
    <%= f.text_field :advance_reduction %>
  </p>
  <p>
    <%= Translate.trans("Warp To Weaver(gm)",session[:language])%><br />
    <%= f.text_field :warp_to_weaver %>
  </p>
  <p>
    <%= Translate.trans("Warp Length",session[:language])%><br />
    <%= f.text_field :warp_length %>
  </p>
  <p>
    <%= Translate.trans("Silk To Weaver(gm)",session[:language])%><br />
    <%= f.text_field :silk_to_weaver %>
  </p>
  <p>
    <%= Translate.trans("Jari To Weaver",session[:language])%><br />
    <%= f.text_field :jari_to_weaver %>
  </p>
  <p>
    <%= Translate.trans("Jute To Weaver",session[:language])%><br />
    <%= f.text_field :jute_to_weaver %>
  </p>
  <p>
    <%= Translate.trans("Weaving Cotton",session[:language])%><br />
    <%= f.text_field :weaving_cotton %>
  </p>
  <p>
    <%= Translate.trans("Warp Cotton(gm)",session[:language])%><br />
    <%= f.text_field :warp_cotton %>
  </p>
  <p>
    <%= Translate.trans("Weight Of Sarees",session[:language])%><br />
    <%= f.text_field :saree_weight %>
  </p>
  <p>
    <%= Translate.trans("Sarees From Weaver",session[:language])%><br />
    <%= f.text_field :sarees_from_weaver %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</table>
<%= link_to 'Show', @loom %> |
<%= link_to 'Back', looms_path %>
