<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<h1>Listing Designs</h1>
<table class="wide-table" id="gradient-style" >
  <tr>
  	<th align = 'left'><%= Translate.trans("Item Code",session[:language])%></th>
  	<th align = 'left'><%= Translate.trans("Description",session[:language])%></th>
  	<th align = 'left'><%= Translate.trans("Image",session[:language])%></th>
  	<th align = 'left'><%= Translate.trans("Warp",session[:language])%></th>
  	<th align = 'left'><%= Translate.trans("Silk",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Warp Cotton (gm)",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Weaving Cotton",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Jari",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Jute",session[:language])%></th>
    <th align = 'left'><%= Translate.trans("Expected Weight",session[:language])%></th>
	<th align = 'center' colspan = '3'><%= Translate.trans("Options",session[:language])%></th>
  </tr>
<% for item in @items %>
  <tr>
  	<td><%= h item.item_code%></td>
    <td><%=h item.description%></td>
    <td><%=h item.image_id %></td>
    <td><%=h item.warp %></td>
    <td><%=h item.silk %></td>
    <td><%=h item.warp_cotton %></td>
    <td><%=h item.weaving_cotton %></td>
     <td><%=h item.jari %></td>
     <td><%=h item.jute %></td>
     <td><%=h item.expect_weight %></td>
    <td><%= link_to image_tag( 'show.png'), item %></td>
    <td><%= link_to image_tag( 'edit.png'), edit_item_path(item) %></td>
    <td><%= link_to image_tag( 'delete.png'), item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to image_tag( 'new.png'), new_item_path %>














