<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<h1>Editing worker_type</h1>
<table border = '1' 	class="curvedEdges">
<% form_for(@worker_type) do |f| %>
  <%= f.error_messages %>
<tr>
	<td>
		<%= Translate.trans("Name",session[:language])%>:
    <%= f.text_field :name %>
	</td>
</tr>
<tr>
	<td>
    <%= Translate.trans("Status",session[:language])%>
	<%= f.select :status, [['Active', 'Active'], ['InActive', 'InActive']]%>		
	</td>
</tr>
<tr>
	<td align = 'center'>
    <%= image_submit_tag("update.jpg") %>
	</td>
</tr>
<% end %>
</table>
<%= link_to image_tag( 'white_back.jpg'), worker_types_path %>
